{% extends 'base-bo.html.twig' %}

{% block body %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1 class="titre-inscription KS font-orange">INSCRIPTION</h1>

{{ form_start(form, {
    'attr':{
        'class': 'form-new KS font-white'
    }
}) }}
{{ form_row(form.username, {
    'label': "Pseudo",
    'attr':{
        'class': 'form-input'
    }
}) }}

{{ form_row(form.lastname, {
    'label': "Nom d'utilisateur",
    'attr':{
        'class': 'form-input'
    }
}) }}

{{ form_row(form.name, {
    'label': "Prénom d'utilisateur",
    'attr':{
        'class': 'form-input'
    }
}) }}

{{ form_row(form.password, {
    'label': "Mot de passe",
    'attr':{
        'class': 'form-input'
    }
}) }}
{{ form_row(form.confirm_password, {
    'label': "Confirmation du mot de passe",
    'attr':{
        'class': 'form-input'
    }
}) }}

<button type="submit" class="btn-new font-white KS">S'INSCRIRE</button>
{{ form_end(form) }}

{% endblock %}