{% extends 'base.html.twig' %}

{% block title %}Page d'actualités{% endblock %}
{% block body %}
<br>
<br>
<br>
<br>
<br>
<br>
<h1 class="font-orange KS titre-actu ">LES ACTUALITES</h1>
<!-- Liste des articles -->
        <div class="news">
            {% for article in articles %}
            <div class="article">
                <div class="centrer">
                    <img src="{{article.image}}" width="300px" alt="img-article">
                    <h2 class="KS font-blue titre">{{article.titre}}</h2>
                </div>
                <p class="extract">{{article.contenu}}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}
