{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block body %}
    
    <section class="mot-pres">
        <h1 class="font-orange KS titre-club">LE CLUB</h1>
        <h2 class="KS font-blue mot">LE MOT DU PRESIDENT</h2>

        <img class="president1" src="{{ asset('image/president.png')}}" alt="Photo du président du club">

        <div class="txt">
            <p class="ABI">Ce site internet a pour but de mieux vous faire connaître le STADE SAINT-LOIS BASKET,
                de vous informer sur la vie du club, son histoire et son fonctionnement. Vous trouverez l'organiframme,
                les informations pratiques ainsi que les rendez-vous importants de la saison 2019-2020.
            </p>
    
            <p class="A">Vous pouvez retrouver également le lien avec la page Facebook du club qui remporte un franc
                succès depuis deux ans. Complémentaire du site internet, elle vous informera sur les rencontres de chaque
                week-end ainsi que les principaux résultats.
            </p>
    
            <p class="A">Au plaisir de vous revoir à la salle communautaire (près du Lycée Curie), notre bouvelle salle
                où se joue la majorité des rencontres et des entraînements du STADE SAINT-LOIS BASKET. N'hésitez pas à venir
                encourager petits et grands !
            </p>
    
            <p class="A">A bientôt</p>
        </div>
    </section>

    <p class="AB font-orange signature">Christophe JAMES</p>

    <h3 class="KS font-orange sous-titre">LES DOCUMENTS</h3>

    <p class="A txt2">Téléchargez ou imprimez les documents ci-dessous en quelques clics.</p>

    <div class="liens">
        <a href="{{ asset('documents/formulaire_de_demande_de_licence_2017-20181.pdf')}}" target="_blank" download="Formulaire">Formulaire de demande de licence</a>
        <a href="{{ asset('documents/flyer-SSLB-2017-2018-modifié.pdf')}}" target="_blank" download="Formulaire">Flyer</a>
        <a href="{{ asset('documents/PLANNING-SAISON-2017-18.pdf')}}" target="_blank" download="Formulaire">Planning</a>
    </div>

    <h3 class="KS font-orange sous-titre">ORGANIGRAMME</h3>

    <div class="organigramme">
        <h4 class="KS font-blue">PRESIDENCE</h4>
        <div class="presidence">
            <div class="bloc1">
                <img src="{{ asset('image/christophe2.png')}}" alt="président">
                <p class="A font-orange">Christophe JAMES - PRESIDENT</p>
            </div>

            <div class="bloc1">
                <img src="{{ asset('image/gilles.jpg')}}" alt="vice-président">
                <p class="A font-orange">Gilles OBERTO - VICE PRESIDENT</p>
            </div>
        </div>
        <span class="trait">_______________________________________</span>
        <h4 class="KS font-blue">SECRETARIAT</h4>
        <div class="secretariat">
            <div class="bloc2">
                <img src="{{ asset('image/valerie.jpg')}}" alt="secrétaire">
                <p class="A font-orange">Valérie REMIGEREAU - SECRETAIRE</p>
            </div>

            <div class="bloc3">
                <img src="{{ asset('image/isabelle.jpg')}}" alt="secrétaire adjointe">
                <p class="A font-orange">Isabelle PIROUX - SECRETERAIRE ADJOINTE</p>
            </div>
        </div>

        <span class="trait">_______________________________________</span>
        <h4 class="KS font-blue">COMMISSION COMMUNICATION</h4>
        <div class="communication">
            <div class="bloc4">
                <img src="{{ asset('image/delphine.jpg')}}" alt="communication">
                <p class="A font-orange">Delphine BRUNET</p>
            </div>
        </div>    

        <span class="trait">_______________________________________</span>
        <h4 class="KS font-blue">COMMISSION FINANCES</h4>
        <div class="finances">
            <div class="bloc5">
                <img src="{{ asset('image/anita.jpg')}}" alt="finances">
                <p class="A font-orange">Anita BREUILLY</p>
            </div>
        </div> 

        <span class="trait">_______________________________________</span>
        <h4 class="KS font-blue">COMMISSION LOGISTIQUE</h4>
        <div class="logistique">
            <div class="bloc6">
                <img src="{{ asset('image/gaylord.jpg')}}" alt="logistique">
                <p class="A font-orange">Gaylord LEBOISSELIER</p>
            </div>
        </div> 

        <span class="trait">_______________________________________</span>
        <h4 class="KS font-blue">COMMISSION SPONSORS</h4>
        <div class="sponsors">
            <div class="bloc7">
                <img src="{{ asset('image/alain.jpg')}}" alt="sponsors">
                <p class="A font-orange">Alain MARIE</p>
            </div>

            <div class="bloc7">
                <img src="{{ asset('image/norbert.jpg')}}" alt="sponsors">
                <p class="A font-orange">Norbert MARIE</p>
            </div>
        </div>

        <span class="trait">_______________________________________</span>
        <h4 class="KS font-blue">COMMISSION SPORTIVE</h4>
        <div class="sponsors">
            <div class="bloc8">
                <img src="{{ asset('image/arnaud.png')}}" alt="sport">
                <p class="A font-orange">Arnaud DENNEBOUY</p>
            </div>

            <div class="bloc8">
                <img src="{{ asset('image/douba.jpg')}}" alt="sport">
                <p class="A font-orange">Douba BANGOURA</p>
            </div>
        </div>
    </div>

{% endblock %}
