{% extends 'base.html.twig' %}

{% block title %}Contacter le club{% endblock %}
{% block body %}
<br>
<br>
<br>
<br>
<h2 class="titre-contact font-orange KS">NOUS CONTACTER</h2>
<!-- Formulaire -->
{{ form_start(form, {
    'attr':{
        'class': 'form-new KS font-white'
    }
}) }}

{{ form_row(form.name, {
    'label': "Nom",
    'attr':{
        'class': 'contact-input'
    }
}) }}

{{ form_row(form.lastname, {
    'label': "Prénom",
    'attr':{
        'class': 'contact-input'
    }
}) }}

{{ form_row(form.email, {
    'label': "Email",
    'attr':{
        'class': 'contact-input'
    }
}) }}

{{ form_row(form.message, {
    'label': "Votre message",
    'attr':{
        'class': 'contact-input'
    }
}) }}

<button type="submit" class="btn-contact font-white KS"><a href="">ENVOYER</a></button>
{{ form_end(form)}}

{% endblock %}
