{% extends 'base.html.twig' %}

{% block title %}Présentation des équipes{% endblock %}
{% block body %}
<br>
<br>
<br>
<br>
<h1 class="font-orange KS titre-equipe ">LES EQUIPES</h1>

<section class="centrer inline">
    <a href="{{ path('hommes') }}"><h2 class="font-blue KS">HOMMES</h2></a>
    <img src="{{ asset('image/norbert.jpg' )}}" alt="">

    <a href="{{ path('femmes') }}"><h2 class="font-blue KS">FEMMES</h2></a>
    <img src="{{ asset('image/norbert.jpg' )}}" alt="">

    <a href="{{ path('garcons') }}"><h2 class="font-blue KS">GARCONS</h2></a>
    <img src="{{ asset('image/norbert.jpg' )}}" alt="">

    <a href="{{ path('filles') }}"><h2 class="font-blue KS">FILLES</h2></a>
    <img src="{{ asset('image/norbert.jpg' )}}" alt="">
</section>
{% endblock %}
