{% extends 'base.html.twig' %}

{% block title %}Page d'accueil du club Saint-lois basketball{% endblock %}

{% block body %}
<!-- Diaporama -->
<section class="diapo">
    <div>
        <img src="{{asset('image/photo equipe fille.jpg')}}" width="625px" alt="image-club">
        <p class="A">Le STADE SAINT-LOIS BASKETBALL (SSLB) est une association sportive désignée sous le terme d'association loi 1901 
            à but non lucratif qui propose des services liés au domaine du basketball.
        Initialement située au 11 Place du Champs de Mars, 50 000 Saint-Lô, le club a dû déménager pour y effectuer quelques travaux.
        Retrouvez-nous dès à présent au Complexe Saint-Ghislain situé Rue de l'Exode à Saint-Lô.</p>
    </div>
</section>
<!-- Bannières -->
<section class="matchs">
    <h1 class="KS font-orange centrer">DERNIER MATCH</h1>
    <section class="der-match centrer">
        <!-- Dernier match -->
        <H3 class="KS font-white centrer">PRENATIONALE F</H3>
        <div class="main">
            <div class="b1">
                <img src="{{asset('image/logo-granville.PNG')}}" width="100px" alt="logoA">
                <h4 class="KS font-white">GRANVILLE</h4>
            </div>
            <div class="b2">
                <h4 class="KS font-white">95 - 102</h4>
            </div>
            <div class="b3">
                <img src="{{asset('image/monochrome blanc contour bleu foncé.png')}}" width="120px" alt="logoB">
                <h4 class="KS font-white">SAINT-LO</h4>
            </div>                       
        </div>
    </section>

    <h1 class="KS font-orange centrer">PROCHAIN MATCH</h1>
    <section class="pro-match">
        <!-- Prochain match -->
        <H3 class="KS font-white centrer">SENIOR F</H3>
        <div class="main">
            <div class="b1">
                <img src="{{asset('image/logo-granville.png')}}" width="100px" alt="logoA">
                <h4 class="KS font-white">GRANVILLE</h4>
            </div>
            <div class="b2">
                <h4 class="centrer KS font-white">VS</h4>
            </div>
            <div class="b3">
                <img src="{{asset('image/monochrome blanc contour bleu foncé.png')}}" width="120px" alt="logoB">
                <h4 class="KS font-white">SAINT-LO</h4>
            </div>
            <div class="b4">
                <h4 class="A font-white">Date : 11/05/2020</h4>
                <h4 class="A font-white">Horaire : 14h30</h4>
                <h4 class="A font-white">Lieu :11 Place du Champ de Mars, 50000 Saint-Lô</h4>
            </div>
        </div>
    </section>
</section>

{% endblock %}
