{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block body %}
<!-- Image de fond -->
<img src="{{ asset('image/fond-terrain.jpg') }}" class="bck-img" alt="img-fond">
<!-- Formulaire -->
<section>
    {% if error %}
    <div class="alert alert-danger">
        {{ error.messageKey| trans(error.messageData, 'security') }}
    </div>
    {% endif %}

    <form class="form-new2" action="{{ path('security_login') }}" method="post">
        <div>
            <label for="identifiant" class="KS font-white form-input">IDENTIFIANT</label>
            <br>
            <input class="form-input" type="text" id="identifiant"  name="_username">
        </div>
        <br>
        <div>
            <label for="mdp" class="KS font-white form-input">MOT DE PASSE</label>
            <br>
            <input class="form-input" type="password" id="mdp"  name="_password">
        </div>
        <br>

        <p class="A font-white p">Seuls les membres du club peuvent se connecter sur notre site internet.</p>
        <p class="A font-white p">L'administrateur du site créé le compte après obtention d'un justificatif.</p>
        <br>
        <button type="submit" class="KS connexion"><a>CONNEXION</a></button>
        <br>
    </form>
    
</section>
{% endblock %}
