{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block body %}
<br>
<br>
<br>
<br>
<br>
<h1 class="font-orange KS titre-mentions ">LES MENTIONS LEGALES</h1>
<div class="centrer">
    <p>Merci de lire attentivement les présentes modalités d'utilisation du présent site avant de le parcourir. </p>
    <p>En vous connectant sur ce site, vous acceptez sans réserve les présentes modalités. </p>
</div>
    <div class="mentions">
        <h2 class="font-orange KS">EDITEUR DU SITE</h2>

        <p>STADE SAINT-LOIS BASKETBALL</p>
               <p> par STADE SAINT-LOIS BASKETBALL
                <br>50 000 Saint-Lô
                <br>France
                <br>Tél. : 02 33 55 20 00
                <br>https://www.sslb.fr
                
                <br> STADE SAINT-LOIS BASKETBALL est une association sportive loi 1901 à but non lucratif.
                 Siret : 399 129 766 00016</p>

        <h2 class="font-orange KS">CONDITIONS D'UTILISATION</h2>

        <p>Le site accessible par l’url suivant : www.sslb.fr est exploité dans le respect de la législation 
                française. L'utilisation de ce site est régie par les présentes conditions générales. En utilisant le site, vous 
                reconnaissez avoir pris connaissance de ces conditions et les avoir acceptées. Celles-ci pourront êtres modifiées à 
                tout moment et sans préavis par la société STADE SAINT-LOIS BASKETBALL. STADE SAINT-LOIS BASKETBALL ne saurait être tenu 
                pour responsable en aucune manière d’une mauvaise utilisation du service. </p>

            <h2 class="font-orange KS">RESPONSABLE EDITORIAL</h2>

            <p>JAMES Christophe </p>
            <p>STADE SAINT-LOIS BASKETBALL</p>
            <p>STADE SAINT-LOIS BASKETBALL
                <br>50 000 Saint-Lô
                <br> France
                <br> Tél. : 06 45 84 96 32
                <br>christophe.james@orange.fr</p>

            <h2 class="font-orange KS">LIMITATION DE RESPONSABILITE</h2>

            <p>Les informations contenues sur ce site sont aussi précises que possibles et le site est périodiquement remis à jour, 
                    mais peut toutefois contenir des inexactitudes, des omissions ou des lacunes. Si vous constatez une lacune, erreur 
                    ou ce qui parait être un dysfonctionnement, merci de bien vouloir le signaler par email en décrivant le problème 
                    de la manière la plus précise possible (page posant problème, action déclenchante, type d’ordinateur et de 
                    navigateur utilisé, …).
                    <br> 
                   <br> Tout contenu téléchargé se fait aux risques et périls de l'utilisateur et sous sa seule responsabilité. En conséquence, 
                    STADE SAINT-LOIS BASKETBALL ne saurait être tenu responsable d'un quelconque dommage subi par l'ordinateur de 
                    l'utilisateur ou d'une quelconque perte de données consécutives au téléchargement.   
                    <br> 
                   <br> Les photos sont non-contractuelles. </p>

            <h2 class="font-orange KS">LITIGES</h2>

            <p>Les présentes conditions sont régies par les lois françaises et toute contestation ou litige qui pourraient naître de 
                    l'interprétation ou de l'exécution de celles-ci seront de la compétence exclusive des tribunaux dont dépend le 
                    siège social de la société STADE SAINT-LOIS BASKETBALL. La langue de référence, pour le règlement de contentieux 
                    éventuels, est le français.</p>

            <h2 class="font-orange KS">DROITS D'ACCES</h2>

            <p>En application de cette loi, les internautes disposent d’un droit d’accès, de rectification, de modification et de 
                    suppression concernant les données qui les concernent personnellement. Ce droit peut être exercé par voie 
                    par voie électronique à l’adresse email suivante : christophe.james@orange.fr.</p>

            <h2 class="font-orange KS">CONFIDENTIALITE</h2>

            <p>Vos données personnelles sont confidentielles et ne seront en aucun cas communiquées à des tiers hormis pour 
                    la bonne exécution de la prestation.</p>

            <h2 class="font-orange KS">PROPRIETE INTELECTUELLE</h2>

            <p>Tout le contenu du présent site, incluant, de façon non limitative, les graphismes, images, textes, vidéos, animations, 
                    sons, logos, gifs et icônes ainsi que leur mise en forme sont la propriété exclusive de la société STADE SAINT-LOIS BASKETBALL
                    à l'exception des marques, logos ou contenus appartenant à d'autres sociétés partenaires ou auteurs.
                    <br> 
                    <br> 
                    Toute reproduction, distribution, modification, adaptation, retransmission ou publication, même partielle, de ces 
                    différents éléments est strictement interdite sans l'accord exprès par écrit de STADE SAINT-LOIS BASKETBALL. Cette 
                    représentation ou reproduction, par quelque procédé que ce soit, constitue une contrefaçon sanctionnée par les 
                    articles L.3335-2 et suivants du Code de la propriété intellectuelle. Le non-respect de cette interdiction constitue 
                    une contrefaçon pouvant engager la responsabilité civile et pénale du contrefacteur. En outre, les propriétaires des
                    Contenus copiés pourraient intenter une action en justice à votre encontre.
                    <br> 
                    <br>
                    STADE SAINT-LOIS BASKETBALL est identiquement propriétaire des "droits des producteurs de bases de données" visés au 
                    Livre III, Titre IV, du Code de la Propriété Intellectuelle (loi n° 98-536 du 1er juillet 1998) relative aux droits d'auteur 
                    et aux bases de données. 
                    <br> 
                    <br>
                    Les utilisateurs et visiteurs du site internet peuvent mettre en place un hyperlien en direction de ce site, mais 
                    uniquement en direction de la page d’accueil, accessible à l’URL suivante : www.sslb.fr, à 
                    condition que ce lien s’ouvre dans une nouvelle fenêtre. En particulier un lien vers une sous page (« lien profond ») 
                    est interdit, ainsi que l’ouverture du présent site au sein d’un cadre (« framing »), sauf l'autorisation expresse et 
                    préalable de STADE SAINT-LOIS BASKETBALL.
                    <br> 
                    <br>
                    Pour toute demande d'autorisation ou d'information, veuillez nous contacter par email : 
                    contact@sslb.fr. Des conditions spécifiques sont prévues pour la presse. Par ailleurs, la mise en 
                    forme de ce site a nécessité le recours à des sources externes dont nous avons acquis les droits ou dont les droits 
                    d'utilisation sont ouverts : HTML 5 / CSS 3 / PHP 5 / Javascript. </p>
                    
                    <br><p>Créé le : 8/06/2020 
                    <br>Auteur : Siana (Anais PARIS)
                    <br>E-mail de l'auteur : anais.avenir@gmail.com</p>

                <h2 class="font-orange KS">HEBERGEUR</h2>

                <p>OVH
                        <br>Solutions de téléphonie et d’hébergement Internet 
                        <br>www.ovh.com
                        <br>support@ovh.com </p>

                <h2 class="font-orange KS">CONDITIONS DE SERVICE</h2>

                <p>Ce site est proposé en langages HTML5 et CSS3, pour un meilleur confort d'utilisation et un graphisme plus agréable, 
                        nous vous recommandons de recourir à des navigateurs modernes comme Safari, Firefox, Chrome,...</p>

                <h2 class="font-orange KS">INFORMATION ET EXCLUSION</h2>

                <p>STADE SAINT-LOIS BASKETBALL met en œuvre tous les moyens dont elle dispose, pour assurer une information fiable et 
                        une mise à jour fiable de ses sites internet. Toutefois, des erreurs ou omissions peuvent survenir. L'internaute devra 
                        donc s'assurer de l'exactitude des informations auprès de STADE SAINT-LOIS BASKETBALL, et signaler toutes modifications 
                        du site qu'il jugerait utile. Plume de l'âme n'est en aucun cas responsable de l'utilisation faite de ces 
                        informations, et de tout préjudice direct ou indirect pouvant en découler. </p>

                <h2 class="font-orange KS">COOKIES</h2>

                <p>Pour des besoins de statistiques et d'affichage, le présent site utilise des cookies. Il s'agit de petits fichiers textes 
                        stockés sur votre disque dur afin d'enregistrer des données techniques sur votre navigation. Certaines parties de 
                        ce site ne peuvent être fonctionnelle sans l’acceptation de cookies.</p>

                <h2 class="font-orange KS">LIENS HYPERTEXTES</h2>

                <p>Le site internet de STADE SAINT-LOIS BASKETBALL peuvent offrir des liens vers d’autres sites internet ou d’autres 
                        ressources disponibles sur Internet.
                        
                        <br>STADE SAINT-LOIS BASKETBALL ne dispose d'aucun moyen pour contrôler les sites en connexion avec son site internet. 
                        STADE SAINT-LOIS BASKETBALL ne répond pas de la disponibilité de tels sites et sources externes, ni ne la garantit. 
                        Elle ne peut être tenue pour responsable de tout dommage, de quelque nature que ce soit, résultant du contenu 
                        de ces sites ou sources externes, et notamment des informations, produits ou services qu’ils proposent, ou de tout 
                        usage qui peut être fait de ces éléments. Les risques liés à cette utilisation incombent pleinement à l'internaute, qui 
                        doit se conformer à leurs conditions d'utilisation.
                        <br> 
                        <br>Les utilisateurs, les abonnés et les visiteurs des sites internet de STADE SAINT6LOIS BASKETBALL ne peuvent mettre en 
                        place un hyperlien en direction de ce site sans l'autorisation expresse et préalable de STADE SAINT-LOIS BASKETBALL.
                        <br> 
                        <br>Dans l'hypothèse où un utilisateur ou visiteur souhaiterait mettre en place un hyperlien en direction d’un des sites 
                        internet de STADE SAINT-LOIS BASKETBALL, il lui appartiendra d'adresser un email accessible sur le site afin de formuler 
                        sa demande de mise en place d'un hyperlien. STADE SAINT-LOIS BASKETBALL se réserve le droit d’accepter ou de refuser 
                        un hyperlien sans avoir à en justifier sa décision.</p>

                <h2 class="font-orange KS">RECHERCHE</h2>

                <p>En outre, le renvoi sur un site internet pour compléter une information recherchée ne signifie en aucune façon que 
                        STADE SAINT-LOIS BASKETBALL reconnaît ou accepte quelque responsabilité quant à la teneur ou à l'utilisation du dit site. </p>

                <h2 class="font-orange KS">PRECAUTIONS D'USAGE</h2>

                <p>Il vous incombe par conséquent de prendre les précautions d'usage nécessaires pour vous assurer que ce que vous 
                        choisissez d'utiliser ne soit pas entaché d'erreurs voire d'éléments de nature destructrice tels que virus, trojans, etc.... </p>

                <h2 class="font-orange KS">RESPONSABILITE</h2>

                <p>Aucune autre garantie n'est accordée au client, auquel incombe l'obligation de formuler clairement ses besoins et 
                        le devoir de s'informer. Si des informations fournies par STADE SAINT-LOIS BASKETBALL apparaissent inexactes, il 
                        appartiendra au client de procéder lui-même à toutes vérifications de la cohérence ou de la vraisemblance des 
                        résultats obtenus. STADE SAINT-LOIS BASKETBALL ne sera en aucune façon responsable vis à vis des tiers de l'utilisation 
                        par le client des informations ou de leur absence contenues dans ses produits y compris un de ses sites Internet.</p>
                
                <h2 class="font-orange KS">NOUS CONTACTER</h2>

                <p>STADE SAINT-LOIS BASKETBALL est à votre disposition pour tous vos commentaires ou suggestions. Vous pouvez nous 
                        écrire en français par les moyens mis à votre disposition, à savoir l'adresse mail, l'adresse postale disponibles dans le footer
                        ou directement depuis notre formulaire de contact que vous trouverez à la page Contact.</p>
    </div>
{% endblock %}
