{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block body %}
<br>
<br>
<br>
<br>
<br>
<h1 class="font-orange KS titre-plan">PLAN DU SITE</h1>
<div class="plan">
    <ul class="liste">
        <li class="KS">
            <a href="/">- Page d'accueil</a>
        </li>
        <li class="KS">
            <a href="/club">- Page du Club</a>
        </li>
        <li class="KS">
            <a href="/actu">- Page des Actualités</a>
        </li>
        <li class="KS">
            <a href="/equipes">- Page des Equipes</a>
        </li>
        <li class="KS">
            <a href="/planning">- Page des Planning</a>
        </li>
        <li class="KS">
            <a href="/sponsors">- Page des Sponsors</a>
        </li>
        <li class="KS">
            <a href="/contact">- Page de Contact</a>
        </li>
        <li class="KS">
            <a href="/login">- Page de Connexion</a>
        </li>
        <li class="KS">
            <a href="/plan">- Plan de site</a>
        </li>
        <li class="KS">
            <a href="/mentions">- Page des Mentions légales</a>
        </li>
    </ul>
</div>

{% endblock %}
