{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block body %}
<br>
<br>
<br>
<br>
<br>
<br>
<h1 class="font-orange KS titre-planning ">LES PLANNINGS</h1>

<img class="planning" src="{{ asset('image/planning.PNG' ) }}" alt="planning" width="800px">
{% endblock %}
