{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block body %}
<br>
<br>
<br>
<br>
<br>
<br>
<h1 class="font-orange KS titre-sponsors ">LES SPONSORS</h1>
<br>
<br>
<div class="msg-sponsors">
    <p class="font-orange A">Vous souhaiter nous soutenir et devenir notre sponsor ?</p>
    <p class="font-blue KS">CONTACTEZ-NOUS !</p>
</div>
<section class="centrer inline logos-sponsors">
    <img src="{{ asset('image/action-financement.jpg' )}}" alt="action fiancement" width="150px">
    <img src="{{ asset('image/bijouterie-guerin.jpg' )}}" alt="bijouterie guerin" width="150px">
    <img src="{{ asset('image/intermarche.png' )}}" alt="intermarche" width="150px">
    <img src="{{ asset('image/kadodids.png' )}}" alt="kadodids" width="150px">
    <img src="{{ asset('image/manche-pomme-de-terre.jpg' )}}" alt="manche pomme de terre" width="150px">
    <img src="{{ asset('image/marie-toit.jpg' )}}" alt="marie-toit" width="150px">
    <img src="{{ asset('image/metaltech.png' )}}" alt="metaltech" width="150px">
    <img src="{{ asset('image/miecaline.jpg' )}}" alt="miecaline" width="150px">
    <img src="{{ asset('image/Unknown.png' )}}" alt="unknown" width="150px">
    <img src="{{ asset('image/ville-saint-lo.jpg' )}}" alt="ville saint-Lô" width="150px">
    <img src="{{ asset('image/coquiere-ingenierie.jpg' )}}" alt="coquière ingénierie" width="150px">
    <img src="{{ asset('image/chrysalis.jpg' )}}" alt="chrysalis" width="150px">
    <img src="{{ asset('image/abi-1.jpg' )}}" alt="abi" width="150px">
    <img src="{{ asset('image/cochon-d-argent.jpg' )}}" alt="cochon d'argent" width="150px">
    <img src="{{ asset('image/DataOuest-1024x683.jpg' )}}" alt="dataouest" width="150px">
    <img src="{{ asset('image/Franck-1.jpg' )}}" alt="Franck" width="150px">
    <img src="{{ asset('image/la-pergola.jpg' )}}" alt="la pergola" width="150px">
    <img src="{{ asset('image/laurent.jpg' )}}" alt="laurent" width="150px">
    <img src="{{ asset('image/macon-auto.jpg' )}}" alt="macon automobile" width="150px">
    <img src="{{ asset('image/optic-2000.png' )}}" alt="optic 2000" width="150px">
    <img src="{{ asset('image/renault.png' )}}" alt="renault" width="150px">
    <img src="{{ asset('image/festou.jpg' )}}" alt="festou" width="150px">
    <img src="{{ asset('image/saint-lo-agglo.png' )}}" alt="saint lo agglo" width="150px">
    <img src="{{ asset('image/audi.jpg' )}}" alt="audi" width="150px">
    <img src="{{ asset('image/best-of-assistance-poids-lourds.jpg' )}}" alt="best of assistance poids lourds" width="150px">
    <img src="{{ asset('image/mma.jpg' )}}" alt="mma" width="150px">
    <img src="{{ asset('image/rd peinture sarl.png' )}}" alt="rd peinture sarl" width="150px">
    <img src="{{ asset('image/caroline-breton.png' )}}" alt="caroline breton" width="150px">
    <img src="{{ asset('image/societe generale.png' )}}" alt="société générale" width="150px">
    <img src="{{ asset('image/delicecook.png' )}}" alt="delicecook" width="150px">
    <img src="{{ asset('image/club-entrepreneurs.png' )}}" alt="club entrepreneurs" width="150px">
    <img src="{{ asset('image/TP-BOUTTE-1.jpg' )}}" alt="TP Boutté" width="150px">
</section>
{% endblock %}
