{% extends 'base.html.twig' %}

{% block title %}Formulaire de modification du mot de passe{% endblock %}

{% block body %}
<!-- Image de fond -->
<img src="{{ asset('image/fond-terrain.jpg')}}" class="bck-img" alt="img-fond">

<!-- Formulaire -->
<section>
    <form class="form-co" action="" method="get">
        <p class="KS font-white a">PREMIERE CONNEXION</p>
        <p class="A font-white">Veuillez modifier votre mot de passe et renseigner votre adresse mail</p>
        <br>
        <div>
            <label for="mdp" class="KS font-white">MOT DE PASSE</label>
            <br>
            <input type="password" id="mdp"  name="mdp">
        </div>
        <br>
        <div>
            <label for="newmdp" class="KS font-white">NOUVEAU MOT DE PASSE</label>
            <br>
            <input type="password" id="newmdp"  name="newmdp">
        </div>
        <br>
        <div>
            <label for="mail" class="KS font-white">ADRESSE MAIL</label>
            <br>
            <input type="text" id="mail"  name="mail">
        </div>
        <br>
        <br>
        <button class="KS connexion"><a href="/profil">ENREGISTRER</a></button>
    </form>
    
</section>
{% endblock %}
