{% extends 'base.html.twig' %}

{% block title %}Profil utilisateur{% endblock %}

{% block body %}
<section class="profil-dedie">
    <img class="couverture" src="{{ asset('image/photo-couverture.png')}}" alt="img-couverture">
    <img class="profil" src="{{ asset('image/profil.png')}}" alt="img-profil">

    <h1 class="KS font-blue name">Anaïs PARIS</h1>
    <div class="infos">
        <p class="A">20 ans, ailière en SENIOR F. Basketteuse depuis deux ans.</p>
    </div>
    <br>
    <br>
    <div class="photos">
        <div class="accesseurs">
            <a href="" class="KS font-white">AJOUTER UNE PHOTO</a>
            <a href="" class="KS font-white">AJOUTER UNE VIDEO</a>
            <a href="" class="KS font-white">SUPPRIMER UN MEDIA</a>
        </div>
                
        <img src="{{ asset('image/1.png')}}" alt="image1">
        <img src="{{ asset('image/2.png')}}" alt="image2">
        <img src="{{ asset('image/3.png')}}" alt="image3">
        <img src="{{ asset('image/defaut.png')}}" alt="img-defaut">
        <img src="{{ asset('image/defaut.png')}}" alt="img-defaut">
        <img src="{{ asset('image/defaut.png')}}" alt="img-defaut">
    </div>
</section>

{% endblock %}
