/* Bouton de déconnexion du bo */
.btn-bo {
    margin-top: 20px;
}

/* Menu de navigation back office */
.bo-nav {
    background-color: rgb(21, 2, 54);
    margin-top: -26px;
    margin-bottom: 82px;
    width: 1520px;
    padding-bottom: 1px;
}

.bo-nav ul li {
    display: inline-block;
    margin-top: 10px;
}

.bo-nav ul li a {
    text-decoration: none;
    list-style: none;
    color: white;
    margin-left: 30px;
}

.bo-nav ul li a:hover{
    color: #eb7803;
}

/* Icone de modification */
.modif {
    width: 60px;
    
    position: absolute;
}

.un {
    margin-left: 1350px;
    margin-top: -15px;
}

.deux {
    margin-left: -35px;
    position: relative;
}

.trois {
    margin-left: 600px;
}

.quatre {
    margin-left: 305px;
    margin-top: -35px;
}

.cinq {
    margin-top: -35px;
    margin-left: 640px;
}

.titre-new {
    font-size: 30px;
    border-bottom: 10px solid #124489;
    border-right: 10px solid #124489;
    width: 415px;
    margin-left: 560px;
}

.form-new {
    background-color: #124489;
    border-radius: 60px;
    padding: 20px;
    width: 415px;
    z-index: 1;
    position: initial;
    margin-top: -0px;
    margin-left: 544px;
    padding-top: 30px;
    text-transform: uppercase;
}

.titre-admin {
    font-size: 30px;
    border-bottom: 10px solid #124489;
    border-right: 10px solid #124489;
    width: 490px;
    margin-left: 530px;
}

.form-admin {
    background-color: #124489;
    border-radius: 60px;
    padding: 20px;
    width: 415px;
    z-index: 1;
    position: initial;
    margin-top: -0px;
    margin-left: 544px;
    padding-top: 30px;
    text-transform: uppercase;
}

.form-admin2 {
    background-color: #124489;
    border-radius: 60px;
    padding: 20px;
    width: 415px;
    z-index: 1;
    position: initial;
    margin-top: 0px;
    margin-left: 544px;
    padding-top: 30px;
    text-transform: uppercase;
}

.form-input {
    width: 310px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
    margin-left: 45px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn-new {
    background-color: #ef8f00;
    border-radius: 50px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    display: flex;
    border: none;
    margin-left: 140px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.btn-new a {
    text-decoration: none;
    color: white;
}

.btn-new:hover {
    background-color: #eb7803;
}

.titre-inscription {
    font-size: 30px;
    border-bottom: 10px solid #124489;
    border-right: 10px solid #124489;
    width: 205px;
    margin-left: 665px;
}

.titre-list-user {
    font-size: 30px;
    border-bottom: 10px solid #124489;
    border-right: 10px solid #124489;
    width: 540px;
    margin-left: 520px;
}

.liste-user {
    list-style: none;
    margin-left: 250px;
    margin-right: 250px;
    display: flex;
    border: solid black 1px;
    margin-top: 5px;
    padding: 10px;
    border-radius: 15px;
}

.liste-user li {
    margin-left: 200px;
}

.info-user {
    list-style: none;
    margin-left: 250px;
    margin-right: 250px;
    display: flex;
    border: solid black 1px;
    margin-top: 5px;
    padding: 10px;
    border-radius: 15px;
}

.info-user li {
    margin-left: 195px;
}