/* Chargement des polices */
    /* Kaushan Script */
    @font-face {
        font-family: KS;
        src: url(../fonts/Kaushan_Script/KaushanScript-Regular.ttf);
    }
    /* Arimo Regular */
    @font-face {
        font-family: A;
        src: url(../fonts/Arimo/Arimo-Regular.ttf);
    }
    /* Arimo Bold */
    @font-face {
        font-family: AB;
        src: url(../fonts/Arimo/Arimo-Bold.ttf);
    }
    /* Arimo Italic */
    @font-face {
        font-family: AI;
        src: url(../fonts/Arimo/Arimo-Italic.ttf);
    }
    /* Arimo Bold Italic */
    @font-face {
        font-family: ABI;
        src: url(../fonts/Arimo/Arimo-BoldItalic.ttf);
    }

/* Appel des polices */
    .KS {
        font-family: KS;
    }

    .A {
        font-family: A;
    }

    .AB {
        font-family: AB;
    }

    .AI {
        font-family: AI;
    }

    .ABI {
        font-family: ABI;
    }

/* Appel des couleurs de police */

.font-white {
    color: white;
}

.font-orange {
    color: #eb7803;
}

.font-blue {
    color: #124489;
}
/* Body */
body {
    margin-top: 50px;
}


/* Header */
header {
    background-color: #124489;
    margin-top: -50px;
    margin-right: -8px;
    margin-left: -8px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 45px;
    position: fixed;
    z-index: 5;
}
    /* Bouton de connexion */
    .btn-co {
        background-color: #ef8f00;
        border-radius: 50px;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 18px;
        display: flex;
        border: none;
        margin-left: 1355px;
        margin-right: 20px;
        margin-top: 20px;
    }

    .btn-co a {
        text-decoration: none;
        color: white;
    }

    .btn-co:hover {
        background-color: #eb7803;
    }

    /* Page de connexion utilisateur */
    .form-new {
        background-color: #124489;
        border-radius: 60px;
        padding: 20px;
        width: 415px;
        z-index: 1;
        position: relative;
        margin-top: 5px;
        margin-left: 545px;
        padding-top: 30px;
        text-transform: uppercase;
        margin-bottom: 79px;
    }

    .form-new2 {
        background-color: #124489;
        border-radius: 60px;
        padding: 20px;
        width: 415px;
        z-index: 1;
        position: relative;
        margin-top: -460px;
        margin-left: 545px;
        padding-top: 30px;
        text-transform: uppercase;
        margin-bottom: 59px;
    }

    .p {
        margin-left: 20px;
    }
    
    .form-input {
        width: 310px;
        border: none;
        border-radius: 10px;
        font-size: 20px;
        padding: 10px;
        margin-left: 58px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .icone-profil {
        width: 60px;
        margin-left: 1245px;
        margin-top: -40px;
        position: absolute;
    }

    .form-admin {
        background-color: #124489;
        border-radius: 60px;
        padding: 20px;
        width: 415px;
        z-index: 1;
        position: absolute;
        margin-top: -460px;
        margin-left: 544px;
        padding-top: 30px;
        text-transform: uppercase;
    }

    .admin-input {
        width: 310px;
        border: none;
        border-radius: 10px;
        font-size: 20px;
        padding: 10px;
        margin-left: 45px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    .btn-new {
        background-color: #ef8f00;
        border-radius: 50px;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 18px;
        display: flex;
        border: none;
        margin-left: 140px;
        margin-top: 10px;
        margin-bottom: 5px;
    }
    
    .btn-new a {
        text-decoration: none;
        color: white;
    }
    
    .btn-new:hover {
        background-color: #eb7803;
    }

    /* Menu de navigation */
    nav {
        text-align: center;
        margin-top: -80px;
    }

    nav ul li {
        display: inline-block;
    }

    nav ul li a {
        color: white;
        text-decoration: none;
        margin: 20px;
    }

    nav ul li a:hover {
        color: #ef8f00;
    }

        /* Logo */
        .logo {
            margin-top: -20px;
            margin-bottom: -83px;
        }

/* Page d'accueil */
/* Section diapo */
.diapo {
    width: 45%;
    margin-top: 50px;
    margin-left: 60px;
}

.diapo img {
    margin-top: 180px;
    margin-bottom: 30px;
}

/* Section bannières */
.matchs {
    width: 45%;
    margin-left: 770px;
    margin-top: -545px;
}

.matchs h1 {
    font-size: 16px;
}

.centrer {
    text-align: center;
}

    /* Section dernier match */
    .der-match, .pro-match {
        background-color: #124489;
        border-radius: 15px;
        padding-top: 1px;
    }

    .der-match .main .b1, .b2, .b3 {
        width: 20%;
        display: inline-block;
    }

    .der-match .main {
        margin-top: 20px;
    }

    .der-match .b2 h4 {
        font-size: 25px;
        position: absolute;
        margin-top: -110px;
        margin-left: 15px;
    }

    /* Section prochain match */
    .pro-match .main .b1, .b3, .b4 {
        width: 20%;
        display: inline-block;
    }

    .pro-match .main .b1 {
        margin-left: 40px;
    }

    .pro-match .main .b3 {
        margin-left: -10px;
    }

    .pro-match .b2 h4 {
        position: absolute;
        margin-top: -100px;
        margin-left: 14px;
        font-size: 25px;
    }

    .pro-match .b4 {
        width: 260px;
        margin-left: -35px;
    }

    .pro-match .b3 img {
        margin-left: -45px;
    }

    .pro-match .b3 h4 {
        margin-left: -25px;
    }

/* Section actualités */
#news h1 {
    font-size: 30px;
    border-bottom: 10px solid #124489;
    border-right: 10px solid #124489;
    width: 185px;
    margin-left: 55px;
}

.news {
    display: initial;
    margin-top: 40px;
}

.article {
    margin-left: 75px;
    margin-right: 40px;
    width: 25%;
    border: 1px solid grey;
    border-radius: 20px;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
}

.article .titre {
    font-size: 16px;
}

.article img {
    margin-top: 20px;
}

.article .extract {
    margin-left: 45px;
    margin-right: 45px;
}

.article .btn {
    color: white;
    background-color: #124489;
    border-radius: 50px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    display: flex;
    border: none;
    margin: 10px;
    margin-left: 240px;
    width: 126px;
}

.btn a {
    text-decoration: none;
    color: white;
}

.btn:hover {
    background-color: #2c2f7b;
}

.autre {
    margin-left: 650px;
    display: flex;
    margin-top: 40px;
}



/* Page club */
.hide {
    visibility: hidden;
}


.titre-club {
    font-size: 30px;
    border-bottom: 10px solid #124489;
    border-right: 10px solid #124489;
    width: 140px;
    margin-left: 685px;
}

.mot-pres {
    padding-top: 100px;
}

.mot-pres p {
    margin-left: 430px;
    width: 1014px;
    text-align: justify;
    font-size: 20px;
}

.mot {
    margin-left: 440px;
    font-size: 30px;
    margin-top: 40px;
}

.president1 {
    width: 300px;
    margin-left: 80px;
    margin-top: -20px;
}

.txt {
    margin-top: -375px;
}

.signature {
    margin-left: 1150px;
    font-size: 20px;
}

.sous-titre {
    margin-top: 90px;
    font-size: 20px;
    border-bottom: 10px solid #124489;
    border-right: 10px solid #124489;
    width: 185px;
    margin-left: 80px;
}

.txt2 {
    margin-left: 80px;
}

.liens {
    margin-top: 40px;
    margin-bottom: -20px;
}

.liens a {
    font-size: 20px;
    margin-left: 250px;
}

.organigramme h4 {
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.organigramme img {
    width: 200px;
}

.bloc1 {
    display: inline-block;
    margin-left: 270px;
}

.bloc1 p {
    margin-left: -18px;
}

.presidence {
    display: flex;
    justify-content: center;
    margin-left: -230px;
}

.secretariat {
    display: flex;
    justify-content: center;
    margin-left: -170px;
}

.trait {
    display: flex;
    justify-content: center;
}

.bloc2, .bloc3 {
    display: inline-block;
    margin-left: 250px;
}

.bloc2 p {
    margin-left: -35px;
}

.bloc3 p {
    margin-left: -65px;
}

.bloc4, .bloc5, .bloc6 {
    margin-left: 650px;
}

.bloc4 p {
    margin-left: 30px;
}

.bloc5 p {
    margin-left: 40px;
}

.bloc6 p {
    margin-left: 15px;
}

.sponsors {
    margin-left: 132px;
}

.bloc7, .bloc8 {
    display: inline-block;
    margin-left: 275px;
}

.bloc7 p {
    margin-left: 50px;
}

.bloc8 p {
    margin-left: 25px;
}

/* Page equipe 1 */
.inline {
    margin-left: -100px;
}

.inline h2, .inline img {
    display: inline-block;
}

.inline img {
    margin-top: 10px;
    margin-left: 85px;
}

.inline h2 {
    margin-top: 110px;
    z-index: 1;
    position: absolute;
    margin-left: 120px;
}

/* Page de connexion */
/* Image de fond */
.bck-img {
    margin-top: -50px;
    margin-left: -8px;
    width: 1533px;
    margin-bottom: -101px;
}

/* formulaire connexion et modification mdp */
.form-co {
    background-color: #124489;
    border-radius: 60px;
    padding: 20px;
    width: 415px;
    z-index: 1;
    position: absolute;
    margin-top: -530px;
    margin-left: 544px;
    padding-top: 30px;
}

.form-co label, form p {
    margin-left: 45px;
}

.form-co input {
    margin-left: 45px;
    width: 310px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
    margin-top: 5px;
}

.connexion {
    background-color: #ef8f00;
    border-radius: 50px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    display: flex;
    border: none;
    margin-left: 140px;
}

.connexion a {
    text-decoration: none;
    color: white;
}

.link {
    font-size: 16px;
    margin-left: 115px;
}

/* Profil perso */
.profil-dedie {
    margin-left: 100px;
}

.couverture {
    width: 1120px;
    margin-top: 73px;
    margin-left: 100px;
}

.profil {
    width: 170px;
    margin-left: -1175px;
    margin-top: 130px;
    position: absolute;
}

.name {
    font-size: 25px;
    margin-left: 60px;
    margin-top: 60px;
}

.infos {
    border: 10px solid #ef8f00;
    border-radius: 60px;
    width: 528px;
    padding: 10px;
    padding-right: 60px;
    padding-left: 60px;
    margin-left: 355px;
    margin-top: -110px;
    font-size: 20px;
}

.photos {
    margin-left: 120px;
    width: 1110px;
}

.photos img {
    width: 180px;
}

.accesseurs {
    background-color: #124489;
    display: flex;
    margin-left: 4px;
    width: 1073px;
    padding: 10px;
    font-size: 20px; 
    margin-bottom: 10px;   
}

.accesseurs a {
    text-decoration: none;
    margin-left: 115px;
}

.accesseurs a:hover {
    color: #ef8f00;
}

.messagerie {
    border: solid #124489 2px;
    margin-left: 1217px;
    margin-top: -350px;
    background-color: white;
    margin-bottom: -57px;
    width: 291px;
}

.messagerie img {
    width: 100px;
    margin-left: -8px;
}

.messagerie h2 {
    margin-left: 90px;
    margin-top: -70px;
}

.action {
    background-color: #124489;
    padding-left: 170px;
    
}

.action img {
    width: 50px;
    margin-left: 7px;
}

/* Actualités */
.titre-actu {
    font-size: 30px;
    border-bottom: 10px solid #124489;
    border-right: 10px solid #124489;
    width: 255px;
    margin-left: 630px;
}

/* Page équipes */
.titre-equipe {
    font-size: 30px;
    border-bottom: 10px solid #124489;
    border-right: 10px solid #124489;
    width: 205px;
    margin-left: 650px;
}

    /* Femmes */
    .titre-femme {
        font-size: 30px;
        border-bottom: 10px solid #124489;
        border-right: 10px solid #124489;
        width: 205px;
        margin-left: 650px;
    }

    .img-femmes {
        margin-left: 500px;
        width: 500px;
    }

    .h2 {
        margin-left: 200px;
    }

    /* Hommes */
    .titre-homme {
        font-size: 30px;
        border-bottom: 10px solid #124489;
        border-right: 10px solid #124489;
        width: 215px;
        margin-left: 645px;
    }

    /* Filles */
    .titre-fille {
        font-size: 30px;
        border-bottom: 10px solid #124489;
        border-right: 10px solid #124489;
        width: 170px;
        margin-left: 660px;
    }

    .titre-garcon {
        font-size: 30px;
        border-bottom: 10px solid #124489;
        border-right: 10px solid #124489;
        width: 215px;
        margin-left: 645px;
    }

/* Planning */
.titre-planning {
    font-size: 30px;
    border-bottom: 10px solid #124489;
    border-right: 10px solid #124489;
    width: 245px;
    margin-left: 635px;
}

.planning {
    margin-top: 30px;
    margin-left: 350px;
}

/* Sponsors */
.titre-sponsors {
    font-size: 30px;
    border-bottom: 10px solid #124489;
    border-right: 10px solid #124489;
    width: 245px;
    margin-left: 635px;
}

.msg-sponsors {
    text-align: end;
    margin-right: 10%;
    margin-top: -100px;
}

.logos-sponsors img {
    border: solid black 2px;    
}

/* Contact */
.titre-contact {
    font-size: 30px;
    border-bottom: 10px solid #124489;
    border-right: 10px solid #124489;
    width: 280px;
    margin-left: 615px;
}

.form-contact {
    background-color: #124489;
    border-radius: 60px;
    padding: 20px;
    width: 700px;
    z-index: 1;
    position: relative;
    margin-top: 5px;
    margin-left: 125px;
    padding-top: 30px;
    text-transform: uppercase;
    margin-bottom: 79px;
}

.contact-input {
    width: 310px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
    margin-left: 68px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn-contact {
    background-color: #ef8f00;
    border-radius: 50px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    display: flex;
    border: none;
    margin-left: 155px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.btn-contact a {
    text-decoration: none;
    color: white;
}

.btn-contact:hover {
    background-color: #eb7803;
}

textarea {
    width: 310px;
    margin-left: 45px;
    border-radius: 10px;
    border: none;
    height: 95px;
    font-family: A;
}

/* Mentions Légales */
.titre-mentions {
    font-size: 30px;
    border-bottom: 10px solid #124489;
    border-right: 10px solid #124489;
    width: 370px;
    margin-left: 570px;
} 

.mentions {
    margin-left: 80px;
    width: 90%;
}

/* Plan de site */
.titre-plan {
    font-size: 30px;
    border-bottom: 10px solid #124489;
    border-right: 10px solid #124489;
    width: 220px;
    margin-left: 640px;
} 

.plan {
    display: block;
}

.liste {
    margin-left: 595px;
    margin-top: 35px;
}

.liste li {
    list-style: none;
}

.liste li a {
    font-size: 25px;
    text-decoration: none;
    color: #2c2f7b;
}

.liste li a:hover {
    color: #eb7803;
}


/* Footer */
footer {
    background-color: #124489;
    margin-left: -45px;
    margin-right: -8px;
    margin-top: 55px;
    padding: 20px;
    padding-top: 60px;
}

.footer-bottom {
    background-color: #2c2f7b;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    margin-bottom: -28px;
    margin-left: -20px;
    margin-right: -20px;
}

.links a, .rs a {
    display: flex;
    text-align: center;
}

.plan {
    margin-left: 25px;
}

footer img {
    width: 50px;
}

.coordonnees {
    margin-left: 1135px;
    margin-top: -105px;
}

.coordonnees img {
    margin-left: -60px;
    margin-top: 0px;
    margin-bottom: -25px;
}

.coordonnees p {
    margin-top: -15px;
}

.rs {
    margin-left: 670px;
    margin-top: -80px;
}

.rs img {
    margin-left: 50px;
}

.links {
    margin-left: 200px;
    font-size: 20px;
}