{% extends 'base-bo.html.twig' %}

{% block body %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1 class="titre-admin KS font-orange">INSCRIPTION ADMINISTRATEUR</h1>

{{ form_start(form, {
    'attr':{
        'class': 'KS font-white form-admin2'
    }
}) }}

{{ form_row(form.username, {
    'label': "pseudo",
    'attr':{
        'class': 'form-input'
    }
}) }}

{{ form_row(form.email, {
    'label': "email",
    'attr':{
        'class': 'form-input'
    }
}) }}

{{ form_row(form.password, {
    'label': "mot de passe",
    'attr':{
        'class': 'form-input'
    }
}) }}

{{ form_row(form.confirm_password, {
    'label': "confirmation du mot de passe",
    'attr':{
        'class': 'form-input'
    }
}) }}
<button class="btn-new KS font-white" type="submit">INSCRIPTION</button>
{{ form_end(form) }}
{% endblock %}