<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/main-bo.css')}}">
        <link rel="stylesheet" href="{{ asset('css/main.css')}}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <!-- Header -->
    <header>
        <!-- Menu de navigation bo -->
        <nav class="bo-nav">
            <ul>
                <li class="A font-white"><a href="{{path('accueil-bo')}}">Accueil</a></li>
                <li class="A font-white"><a href="{{ path('list-user') }}">Liste des utilisateurs</a></li>
                <li class="A font-white"><a href="{{ path('security_registration') }}">Créer un nouvel utilisateur</a></li>
                <li class="A font-white"><a href="{{ path('article-create') }}">Créer un nouvel article</a></li>
                <li class="KS font-white"><a href="{{ path('security_logout') }}">Se déconnecter</a></li>
            </ul>
        </nav>
        <!-- Menu de navigation -->
        <nav class="site-nav">
            <ul>
                <li class="KS font-white"><a href="{{ path('club') }}">LE CLUB</a></li>
                <li class="KS font-white"><a href="{{ path('actu') }}">ACTUALITES</a></li>
                <li class="KS font-white"><a href="{{ path('equipes') }}">EQUIPES</a></li>
                <!-- Logo -->
                <a href="{{ path('home') }}"><img class="logo" src="{{asset('image/monochrome blanc contour bleu foncé.png')}}" width="180px" alt="logo-blanc"></a>
                <li class="KS font-white"><a href="{{ path('planning') }}">PLANNING</a></li>
                <li class="KS font-white"><a href="{{ path('sponsors') }}">SPONSORS</a></li>
                <li class="KS font-white"><a href="{{ path('contact') }}">CONTACT</a></li>
            </ul>
        </nav>
    </header>
    </header>

        {% block body %}{% endblock %}
        <!-- Footer -->
    <footer>
        <!-- Liens internes-->
        <div class="links">
            <a href="{{ path('equipes') }}" class="KS font-white">EQUIPES</a>
            <a href="{{ path('club') }}" class="KS font-white">DOCUMENTS</a>
        </div>
        <!-- Plan de site et mentions légales + fb -->
        <div class="rs">
            <a href="{{ path('mentions') }}" class="KS font-white">MENTIONS LEGALES</a>
            <a href="{{ path('plan') }}" class="KS font-white plan">PLAN DE SITE</a>
            <img src="{{ asset('image/icone fb.png')}}" alt="logo-fb"><a href="https://www.facebook.com/StadeSaintLoisBasket/?__tn__=%2Cd%2CP-R&eid=ARD1LZqXAaFTQkJf-dWXZme2Rlc_mNoChFzY5fWVsWgSDY1mZhSyFYnKgpgLcHvxu2CgARUHg_-SVwd4"></a>
        </div>
        <!-- Coordonnées -->
        <div class="coordonnees">
            <!-- Adresse postale -->
            <img src="{{ asset('image/icone adresse.png')}}" alt="logo-localisation">
            <p class="KS font-white">11 Place du Champ de Mars, 50000 Saint-Lô</p>
            <!-- Téléphone -->
            <img src="{{ asset('image/icone tel.png')}}" alt="logo-tel">
            <p class="KS font-white">02 33 55 20 00</p>
            <!-- Adresse mail -->
            <img src="{{ asset('image/icone mail.png')}}" alt="logo-mail">
            <p class="KS font-white">contact(at)sslb.fr</p>
        </div>
        <!-- Footer-bootom -->
        <div>
            <p class="KS font-white footer-bottom">©Siana - 2020</p>
        </div>
    </footer>
    </body>
</html>
