<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/main.css')}}">
        {% endblock %}
        <script type="text/javascript" src="{{ asset('js/tarteaucitron/tarteaucitron.js') }}"></script>
        <script type="text/javascript">
        tarteaucitron.init({
    	  "privacyUrl": "", /* Privacy policy url */

    	  "hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
    	  "cookieName": "tarteaucitron", /* Cookie name */
    
    	  "orientation": "bottom", /* Banner position (top - bottom) */
    	  "showAlertSmall": false, /* Show the small banner on bottom right */
    	  "cookieslist": true, /* Show the cookie list */

    	  "adblocker": false, /* Show a Warning if an adblocker is detected */
    	  "AcceptAllCta" : true, /* Show the accept all button when highPrivacy on */
    	  "highPrivacy": true, /* Disable auto consent */
    	  "handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */

    	  "removeCredit": false, /* Remove credit link */
    	  "moreInfoLink": true, /* Show more info link */
    	  "useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */

    	  //"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */
                          
          "readmoreLink": "/cookiespolicy", /* Change the default readmore link */

          "mandatory": false, /* Show a message about mandatory cookies */
        });
        </script>
    </head>
    <body>
        <!-- Header -->
    <header>
        {% if not app.user %}
        <!-- Bouton de connexion -->
        <li class="KS btn-co">
            <a href="{{ path('security_login')}}">
                Connexion
            </a>
        </li>
        {% else %}
        <!-- bouton de déconnexion -->
        <li class="KS btn-co">
            <a href="{{ path('security_logout')}}">
                Déconnexion
            </a>
        </li>
        <a href="{{ path('profil') }}"><img class="icone-profil" src="{{ asset('image/icone profil.png') }}" alt="icone profil"></a>
        {% endif %}

        <!-- Menu de navigation -->
        <nav>
            <ul>
                <li class="KS font-white"><a href="{{ path('club') }}">LE CLUB</a></li>
                <li class="KS font-white"><a href="{{ path('actu') }}">ACTUALITES</a></li>
                <li class="KS font-white"><a href="{{ path('equipes') }}">EQUIPES</a></li>
                <!-- Logo -->
                <a href="{{ path('home') }}"><img class="logo" src="{{ asset('image/monochrome blanc contour bleu foncé.png')}}" width="180px" alt="logo-blanc"></a>
                <li class="KS font-white"><a href="{{ path('planning') }}">PLANNING</a></li>
                <li class="KS font-white"><a href="{{ path('sponsors') }}">SPONSORS</a></li>
                <li class="KS font-white"><a href="{{ path('contact') }}">CONTACT</a></li>
            </ul>
        </nav>
    </header>

        {% block body %}{% endblock %}
        <!-- Footer -->
    <footer>
        <!-- Liens internes-->
        <div class="links">
            <a href="{{ path('equipes') }}" class="KS font-white">EQUIPES</a>
            <a href="{{ path('club') }}" class="KS font-white">DOCUMENTS</a>
        </div>
        <!-- Plan de site et mentions légales + fb -->
        <div class="rs">
            <a href="{{ path('mentions') }}" class="KS font-white">MENTIONS LEGALES</a>
            <a href="{{ path('plan') }}" class="KS font-white plan">PLAN DE SITE</a>
            <a href="https://www.facebook.com/StadeSaintLoisBasket/?__tn__=%2Cd%2CP-R&eid=ARD1LZqXAaFTQkJf-dWXZme2Rlc_mNoChFzY5fWVsWgSDY1mZhSyFYnKgpgLcHvxu2CgARUHg_-SVwd4" target="_blank"><img src="{{ asset('image/icone fb.png')}}" alt="logo-fb"></a>
        </div>
        <!-- Coordonnées -->
        <div class="coordonnees">
            <!-- Adresse postale -->
            <img src="{{ asset('image/icone adresse.png')}}" alt="logo-localisation">
            <p class="KS font-white">11 Place du Champ de Mars, 50000 Saint-Lô</p>
            <!-- Téléphone -->
            <img src="{{ asset('image/icone tel.png')}}" alt="logo-tel">
            <p class="KS font-white">02 33 55 20 00</p>
            <!-- Adresse mail -->
            <img src="{{ asset('image/icone mail.png')}}" alt="logo-mail">
            <p class="KS font-white">contact(at)sslb.fr</p>
        </div>
        <!-- Footer-bootom -->
        <div>
            <p class="KS font-white footer-bottom">©Siana - 2020</p>
        </div>
    </footer>
        {% block javascripts %}{% endblock %}
        <script type="text/javascript">
            (tarteaucitron.job = tarteaucitron.job || []).push('facebook');
            </script>
    </body>
</html>
