{% extends 'base-bo.html.twig' %}

{% block title %}Détails de l'article{% endblock %}
{% block body %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<section>
        <div class="centrer">
            <div class="article">
                <div class="centrer">
                    <img src="{{article.image}}" width="300px" alt="img-article">
                    <h2 class="KS font-blue titre">{{article.titre}}</h2>
                </div>
                <p class="extract">{{article.contenu|raw}}</p>
            </div>
        </div>
</section>
{% endblock %}
