{% extends 'base-bo.html.twig' %}

{% block title %}Créer un nouvel article{% endblock %}
{% block body %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1 class="font-orange KS titre-new ">CREER UN NOUVEL ARTICLE</h1>
{{ form_start(formArticle, { 
    'attr':{
        'class':'form-new font-white KS'
    }
})}}
    {{ form_row(formArticle.titre, { 
        'label':"Titre de l'article",
        'attr':{
            'class':'form-input'
        }
    })}}

    {{ form_row(formArticle.contenu, { 
        'label':"Contenu de l'article",
        'attr': {
            'class':'form-input'
        }
    })}}

    {{ form_row(formArticle.image, { 
        'label':"Url de l'image",
        'attr':{
            'class':'form-input'
        }
    })}}

    {{ form_row(formArticle.date, { 
        'label':"Date de rédaction",
        'attr':{
            'class':'form-input'
        }
    })}}

    {{ form_row(formArticle.user, {
        'label':"Auteur de l'article",
        'attr':{
            'class':'form-input'
        }
    })}}
    <button type="submit" class="KS font-white btn-new"><a href=""></a>ENREGISTRER</button>
{{ form_end(formArticle) }}
{% endblock %}