<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Page de connexion au Back Office{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/main.css')}}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>



{% block body %}
<!-- Image de fond -->
<img src="{{ asset('image/fond-terrain.jpg')}}" class="bck-img" alt="img-fond">

<!-- Formulaire -->
<section>
    <form class="form-admin KS font-white" action="{{ path('security_login') }}" method="post">
        <p class="KS font-white a">BIENVENUE DANS LE BACK OFFICE !</p>
        <p class="A font-white">Veuillez entrer vos identifiants pour y accéder</p>
        <br>
        <div>
            <label for="identifiant">IDENTIFIANT</label>
            <br>
            <input class="admin-input" type="text" id="identifiant"  name="_username">
        </div>
        <div>
            <label for="mdp">MOT DE PASSE</label>
            <br>
            <input class="admin-input" type="password" id="mdp"  name="_password">
        </div>
        <br>
        <button type="submit" class="btn-new KS font-white"><a href="{{ path('accueil-bo') }}">SE CONNECTER</a></button>
    </form>
    
</section>
{% endblock %}
