{% extends 'base-bo.html.twig' %}

{% block body %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1 class="KS font-orange titre-list-user">LISTE DES UTILISATEURS INSCRITS</h1>
<br>
<div>
    <ul class="A font-orange liste-user">
        <li>
            Pseudo
        </li>
        <li>
            Nom
        </li>
        <li>
            Prénom
        </li>
    </ul>    
        {% for user in users %}
        <ul class="info-user A font-blue">
        <li>
            {{ user.username}}
        </li>
        <li>
            {{ user.lastname}}
        </li>
        <li>
            {{ user.name }}
        </li>
    </ul>

    {% endfor %}
</div>
{% endblock %}