{% extends 'base.html.twig' %}

{% block title %}Présentation des équipes féminines{% endblock %}

{% block body %}
<br>
<br>
<br>
<br>
<br>
<h1 class="font-orange KS titre-femme">LES FEMMES</h1>

<h2 class="font-blue KS h2">PRE-NATIONALE FEMININE</h2>
<img class="img-femmes" src="{{ asset('image/photo equipe senior f.jpg')}}" alt="photo des seniors F">
{% endblock %}