{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<br>
<br>
<br>
<br>
<br>
<h1 class="font-orange KS titre-fille">LES FILLES</h1>

<h2 class="font-blue KS h2">U7 EQUIPE MIXTE</h2>
<img class="img-femmes" src="{{ asset('image/U7.png')}}" alt="photo des u7 mixte" width="500px">

<h2 class="font-blue KS h2">U9 EQUIPE MIXTE</h2>
<img class="img-femmes" src="{{ asset('image/U9.png')}}" alt="photo des u9 mixte" width="500px">

<h2 class="font-blue KS h2">U11 EQUIPE MIXTE</h2>
<img class="img-femmes" src="{{ asset('image/U11 mixte.png')}}" alt="photo des u11 mixte" width="500px">

<h2 class="font-blue KS h2">U13 FILLES</h2>
<img class="img-femmes" src="{{ asset('image/u13 filles.jpg')}}" alt="photo des u13 filles" width="500px">

<h2 class="font-blue KS h2">U15 FILLES</h2>
<img class="img-femmes" src="{{ asset('image/u15 filles.jpg')}}" alt="photo des u15 filles" width="500px">

<h2 class="font-blue KS h2">U18 FILLES</h2>
<img class="img-femmes" src="{{ asset('image/u18 filles.jpg')}}" alt="photo des u18 filles" width="500px">
{% endblock %}