{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<br>
<br>
<br>
<br>
<br>
<h1 class="font-orange KS titre-garcon">LES GARCONS</h1>

<h2 class="font-blue KS h2">U7 EQUIPE MIXTE</h2>
<img class="img-femmes" src="{{ asset('image/u7.png')}}" alt="photo des u7 mixte" width="500px">

<h2 class="font-blue KS h2">U9 EQUIPE MIXTE</h2>
<img class="img-femmes" src="{{ asset('image/u9.png')}}" alt="photo des u9 mixte" width="500px">

<h2 class="font-blue KS h2">U11 EQUIPE MIXTE</h2>
<img class="img-femmes" src="{{ asset('image/u11 mixte.png')}}" alt="photo u11 mixte" width="500px">

<h2 class="font-blue KS h2">U11 GARCONS</h2>
<img class="img-femmes" src="{{ asset('image/u11 garcons.jpg')}}" alt="photo des u11 garcons" width="500px">

<h2 class="font-blue KS h2">U13 GARCONS 1</h2>
<img class="img-femmes" src="{{ asset('image/u13 garcons 1.jpg')}}" alt="photo des u13 garcons 1" width="500px">

<h2 class="font-blue KS h2">U13 GARCONS 2</h2>
<img class="img-femmes" src="{{ asset('image/u13 garcons 2.jpg')}}" alt="photo des u13 garcons 2" width="500px">

<h2 class="font-blue KS h2">U15 GARCONS</h2>
<img class="img-femmes" src="{{ asset('image/u15 garcons.jpg')}}" alt="photo des u15 garcons" width="500px">

<h2 class="font-blue KS h2">U17 GARCONS 1</h2>
<img class="img-femmes" src="{{ asset('image/u17 garcons 1.jpg')}}" alt="photo des u17 garcons 1" width="500px">

<h2 class="font-blue KS h2">U17 GARCONS 2</h2>
<img class="img-femmes" src="{{ asset('image/u17 garcons 2.jpg')}}" alt="photo des u17 garcons 2" width="500px">
{% endblock %}