{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<br>
<br>
<br>
<br>
<br>
<h1 class="font-orange KS titre-homme">LES HOMMES</h1>

<h2 class="font-blue KS h2">PRE-REGIONALE MASCULINE</h2>
<img class="img-femmes" src="{{ asset('image/prenat.jpg')}}" alt="photo de la pré-régionale masculine">

<h2 class="font-blue KS h2">PRE-NATIONALE MASCULINE</h2>
<img class="img-femmes" src="{{ asset('image/r3 masculine.jpg')}}" alt="photo de la pré-nationale masculine">

<h2 class="font-blue KS h2">DEPARTEMENTALE 2 MASCULINE</h2>
<img class="img-femmes" src="{{ asset('image/d2 masculine.png')}}" alt="photo de la départementale 2 masculine">
{% endblock %}

